$medium: 500;
$regular: 400;
$thin: 100;
@mixin Roboto($font_weight, $font_size) {
    font-family: 'Roboto', sans-serif;
    font-weight: $font_weight;
    font-size: $font_size;
}
%title {
    @include Roboto($medium, 24px);
}
%subtitle {
    @include Roboto($medium, 20px);
}
%paragraph {
    @include Roboto($regular, 16px);
}
%status {
    @include Roboto($thin, 24px);
}
